.heading{
  color: blue;
}

.line{
  width: 200px;
  height: 5px;
  background: black;
  margin: auto;
}

.btn-primary{
  background-color: blue;
  border-radius: 0%;
   border: none;
}

.btn-primary:hover{

  background-color: slategray;

}

.head{
  background-color: blue;
  color: white;
  padding: 20px;
}